
<div class=loading>
  <div></div>
  <div></div>
  <div></div>
  </div>
  <style>.loading{display:flex;justify-content:center}.loading div{width:1.5rem;height:1.5rem;margin:2rem .3rem;background-image:-webkit-linear-gradient(92deg,#56ccf2,#2f80ed);border-radius:50%;-webkit-animation:.9s bounce infinite alternate;animation:.9s bounce infinite alternate}.loading div:nth-child(2){-webkit-animation-delay:.3s;animation-delay:.3s}.loading div:nth-child(3){-webkit-animation-delay:.6s;animation-delay:.6s}@-webkit-keyframes bounce{to{opacity:.3;transform:translate3d(0,-1rem,0)}}@keyframes bounce{to{opacity:.3;transform:translate3d(0,-1rem,0)}}</style>